<div class="logo">
      <a href="#" class="simple-text logo-normal">
          John of the fish
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item <%= activePage === 'painel'?'active':'' %>">
            <a class="nav-link" href="/painel">
              <i class="material-icons">dashboard</i>
              <p>Painel de controle</p>
            </a>
          </li>
          <li class="nav-item <%= activePage === 'users'?'active':'' %>">
            <a class="nav-link" href="/usuario">
              <i class="material-icons">person</i>
              <p>Usuários</p>
            </a>
          </li>
          <li class="nav-item <%= activePage === 'categories'?'active':'' %>">
              <a class="nav-link" href="/categoria">
                <i class="material-icons">category</i>
                <p>Categorias</p>
              </a>
            </li>
            <li class="nav-item <%= activePage === 'products'?'active':'' %>">
                <a class="nav-link" href="/produto">
                  <i class="material-icons">shopping_basket</i>
                  <p>Produtos</p>
                </a>
              </li>
          <!-- <li class="nav-item <%= activePage === 'tables'?'active':'' %>">
            <a class="nav-link" href="/tables">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/notifications">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li> -->
        </ul>
      </div>